// Theme Variables
// ========================================================================

// Global & base
$global-color:                                  #56667b;
$global-muted-color:                            lighten($global-color, 19%);
$global-primary-background:                     #DB4140;
$global-secondary-background:                   #3f3c56;
$global-muted-background:                       #f8f8fa;
$background-primary-light:                      #ED4852;
$gray-background:                               #6a7c94;
$text-primary-color:                            $global-primary-background;
$background-primary-dark:                       darken($global-primary-background, 13%);
$base-link-color:                               $text-primary-color;
$base-link-hover-color:                         #000;
$base-link-text-decoration:                     none;
$base-link-hover-text-decoration:               none;
$link-muted-hover-color:                        $global-color;
$global-inverse-color:                          #fff;
$inverse-global-color:                          $global-inverse-color;
$inverse-global-muted-color:                    rgba($global-inverse-color, .6);
$inverse-global-border:                         $global-inverse-color;
$base-strong-font-weight:                       bold;
$inverse-base-link-color:                       rgba($global-inverse-color, 1);
$global-border:                                 lighten($gray-background, 43%);
$border-xlight:                                 #f5f5f5;
$global-margin:                                 20px;
$border-medium-width:                           2px;
$border-large-width:                            6px;
$global-gutter:                                 30px;
$grid-gutter-horizontal-l:                      $global-gutter;

// Font
$global-font-family:                            'Nunito Sans', san-serif;
$global-xlarge-font-size:                       2.25rem;  // H2
$global-large-font-size:                        1.4375rem;   // H3
$global-medium-font-size:                       1.125rem;   // H4
$global-small-font-size:                        0.875rem;
$xsmall-font-size:                              0.8125rem;
$xxsmall-font-size:                             0.75rem;
$heading-medium-font-size:                      2.875rem;
$heading-medium-font-size-m:                    3.75rem;
$heading-2xlarge-font-size-m:                   12rem;
$heading-2xlarge-font-size-l:                   17rem;                                  // 176px
$heading-2xlarge-line-height:                   0.7;
$heading-xlarge-line-height:                    0.8;
$text-large-font-size:                          1.25rem;
$base-body-font-weight:                         400;
$base-heading-font-weight:                      800;
$base-heading-margin-top:                       50px;
$base-heading-color:                            $global-secondary-background;
$base-h2-line-height:                           1.4;

// Card 
$card-title-font-size:                          1.4375rem;     
$card-small-body-padding-vertical:              $global-margin * 1.5;

// Logo
$logo-font-size:                                1.5625rem;
$logo-color:                                    $global-secondary-background;
$logo-hover-color:                              $global-secondary-background;

// Buttons
$button-large-font-size:                        $global-small-font-size;
$button-default-color:                          $global-secondary-background;
$button-default-hover-background:               $global-secondary-background;
$button-default-hover-color:                    #fff;
$button-default-active-background:              $global-secondary-background;
$button-default-active-color:                   #fff;
$button-default-border:                         $global-secondary-background;
$button-default-hover-border:                   $global-secondary-background;
$button-default-active-border:                  $global-secondary-background;
$inverse-button-default-hover-background:       #fff;
$inverse-button-default-hover-color:            $global-secondary-background;
$inverse-button-default-active-color:           $global-secondary-background;
$button-primary-light-color:                    $global-primary-background;            
$button-primary-light-background:               lighten($global-primary-background, 30%);;
$button-primary-light-hover-color:              $global-primary-background;  ;
$button-primary-light-hover-background:         lighten($global-primary-background, 26%);
$inverse-button-primary-color:                  $base-heading-color;
$inverse-button-primary-hover-color:            $base-heading-color;
$inverse-button-primary-active-color:           $base-heading-color;
$inverse-icon-button-hover-color:               $inverse-global-muted-color;
$inverse-icon-button-color:                     $inverse-global-color;
$inverse-icon-button-active-color:              $inverse-global-muted-color;

$inverse-icon-link-hover-color:               $inverse-global-muted-color;
$inverse-icon-link-color:                     $inverse-global-color;
$inverse-icon-link-active-color:              $inverse-global-muted-color;

// Form
$inverse-form-focus-color:                      $global-inverse-color;
$inverse-form-color:                            $global-inverse-color;
$inverse-form-background:                       transparent;
$inverse-form-focus-background:                 transparent;
$form-large-font-size:                          1rem;
$inverse-form-placeholder-color:                $global-inverse-color;

// Lightbox
$lightbox-background:                           #fff;
$lightbox-toolbar-color:                        $global-secondary-background;
$lightbox-toolbar-background:                   rgba(255,255,255,0.4);
$lightbox-toolbar-icon-color:                   lighten($global-secondary-background,50%);
$lightbox-toolbar-icon-hover-color:             $global-secondary-background;
$lightbox-button-color:                         lighten($global-secondary-background,50%);
$lightbox-button-hover-color:                   $global-secondary-background;

// Navbar & nav
$navbar-background:                             #fff;
$navbar-nav-item-color:                         $base-heading-color;
$navbar-nav-item-hover-color:                   $text-primary-color;
$navbar-nav-item-active-color:                  $text-primary-color;
$navbar-nav-item-font-size:                     $xsmall-font-size;
$navbar-nav-item-padding-horizontal:            20px;
$navbar-toggle-color:                           $base-heading-color;
$navbar-toggle-hover-color:                     $text-primary-color;
$navbar-dropdown-margin:                        0;
$navbar-dropdown-nav-item-color:                $base-heading-color;
$navbar-dropdown-nav-item-hover-color:          $text-primary-color;
$navbar-dropdown-nav-item-active-color:         $text-primary-color;
$navbar-dropdown-nav-font-size:                 $navbar-nav-item-font-size;
$nav-item-padding-vertical:                     7px;
$nav-primary-item-font-size:                    1.5rem;
$nav-primary-item-color:                         $base-heading-color;
$nav-primary-item-hover-color:                   $text-primary-color;
$nav-primary-item-active-color:                  $text-primary-color;

// Offcanvas
$offcanvas-bar-color-mode:                      dark;
$offcanvas-bar-background:                      #fff;
$offcanvas-bar-width:                           320px;
